body{
  background-image: url(11.jpg);
  padding: 100px;
  padding-top: 50px;
  text-align: center;
  font-family: fantasy;
  font-style: oblique;
  font-weight: lighter;
  font-variant: small-caps;
  font-stretch:ultra-expanded;
}
.cont{
  background-color: skyblue;
  border: 10px solid white;
padding: 50px;
border-radius: 15px;
}
h1{
  font-size: 50px;
}
button{
  border:5px solid white;
  border-radius: 7px;
  color: black;
  font-family: fantasy;
  font-size: 20px;
  background-color: skyblue;
  box-shadow: 0 5px blue;
  box-sizing: border-box;
}
button:hover{
  background-color: blue;

}
